{% extends "shop/home.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}
	{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}


{% block container %}
<div></br></br></div>
<div id="detail"class="justified-gallery" style="background-color: black;">  
	<div>
		<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "image/noimage.png" %}{% endif %}"  alt="<h3>&nbsp;&nbsp;&nbsp;&nbsp;{{product.name}}</h3> {{ product.description|linebreaks }}<br/>${{ product.price }} " >		
	</div>
</div>
<div class="container-fluid"> 

	{{product.author}}
	 
	 {{product.id}} {{product.pk}}  
	 
	 {% if product.author == user %}
	 	<a class="btn btn-primary"  href="{% url 'shop:product_edit' product.id product.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>	
	 	<a class="btn btn-primary" href="{% url 'shop:product_remove' product.id product.slug %}"><span class="glyphicon glyphicon-remove"></span></a>

	 {% endif %}
	<div class="product-detail">
		<h4><p class="price">${{ product.price }}</p></h4>
		{{ product.description|linebreaks }}
			</div>
	<div class="col-md-6 col-md-offset-6">
	<span class="count">
	<span class="total">{{ total_views }}</span>
	visita{{ total_views|pluralize }}
	</span>
	</div>
		<div class="col-md-6">
		<form action="{% url 'cart:cart_add' product.id%}" method="post">
		{{ cart_product_form }}
		{% csrf_token %}
		<input type="submit" value="Añadir al carrito">
		</form>
		</div>

</div>

<div class="container-fluid">
      <div  class="col-xs-3 col-md-3">  
        
        <a href="{% url 'profiles:show' craftsman.slug %}">
        <h1 style="font-family:Lobster;" ><font color="black">{{craftsman.get_short_name }}</font></h1>
        <img title="profile picture" class="img-circle img-responsive img-thumbnail" src="{% thumbnail craftsman.picture|default:'default_profile.png' 150x150 crop %}"> 
        </a>  
       	
      </div>        
  
  {{ craftsman.get_short_name }}
<blockquote><p> {{ craftsman.bio }} </p> </blockquote>
{{ craftsman.pk }}
{{ craftsman.slug}}


</div>

{% endblock container %}


{% block scripts %}
<script src = "{%static 'site/js/jquery.justifiedGallery.js' %}"></script>
<script>
    $("#detail").justifiedGallery({
    rowHeight : 350,
    lastRow : 'justify',    
    // nojustify or hide for last image
    margins : 10
    });
</script>
{% endblock scripts %}