{% extends "shop/home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load el_pagination_tags %}

{% block title %} 
		{% if category %}
			{{ block.super }}{{ category.name }}
		{% else %}
			{{ block.super }}Productos
		{% endif %}
{% endblock %}

	{% block content %}
    
        <div class="row">
            <div class="col-lg-12">
                <h2 > Galería
                    <small>Secondary Text</small>
                </h2>
            </div>
        </div>
  


<div id="categories" class="container-fluid">
    <div class="btn-group btn-group-lg dropdown-menu"> 
    <button type="button" class="btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías<span class="caret "></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:product_list" %}" class=" ">All</a>
            </li>
        {% for c in categories %} 
            <li {% if category.slug == c.slug %}{% endif %}><a tabindex="-1" href="{{ c.get_absolute_url }}" class="product-category">{{ c.name }}</a></li>
        {% endfor %}
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Other</a></li>
        </ul>
    </div>
 </div>     
     
<div id="pagination" class="endless_page_template">
        {% include page_template %}
</div>
    	
{% endblock  %}


{% block scripts %}
<script src="{% static 'site/js/jquery.js' %}" ></script>
<script src="{% static 'site/js/el-pagination.js' %}"></script>
<script src="{% static 'site/js/el-pagination-endless.js' %}"></script> 
<script>$.endlessPaginate({paginateOnScroll: true});
</script>
{% endblock scripts %}