{% load staticfiles %}
{% load endless%}
{% load el_pagination_tags %}






{% paginate products %}
  {% for product  in products %}

    <a href="{{ product.get_absolute_url }}"class="portfolio-box  image-frame">
                    <img  src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'image/noimage.png' %}{% endif %}" >

                    <div class="portfolio-box-caption">

              <div class="portfolio-box-caption-content">

                <div class="project-category text-faded">
                <h3>{{ product.name }}</h3>
                </div>
                <div class="project-name">
                <h3>${{ product.price }}</h3>
                </div>
              </div>
            </div>    
                </a>
            <!--     <div class="caption">
                    <h3 class="pull-right">${{ product.price }}</h3>
                    <h3>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>     </h3>
                </div>
                -->
            
        
       {% endfor %}
         
         {% show_more%}

<div class="pagination">
    {% show_pages %}
</div>




{% block scripts %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src = "{%static 'site/js/jquery.justifiedGallery.js' %}"></script>
<script>
    $("#simple").justifiedGallery({
    rowHeight : 220,
    lastRow : 'justify',    
    // nojustify or hide for last image
    margins : 15
    });
</script>



{% endblock scripts %}