{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Mercado artesanal{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}


{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Ingresar</a>
<a class="btn btn-default" href="{% url 'accounts:signup' %}" role="button">Regístrate</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}  

   <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <video loop="loop" preload="auto" id="sensi-video"autoplay class="video-playing" poster="/static/site/img/m.jpg">
                <source src="{{ MEDIA_URL }}telar12.mp4" type="video/mp4">
                <!-- <source src="{{ MEDIA_URL }}telar4.webm" type="video/webm"> -->
            </video>
          <!-- <img class="first-slide" src="/static/site/img/mexican_colors.jpg" alt="First slide"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1 style="font-family:Lobster;"><font color="white">{% include "_brandname.html" %}</font></h1>
               <p> Hecho para ti... pensando en ti </p> 
               <p><a class="btn btn-lg btn-default" href="{% url 'accounts:signup' %}" role="button">Quiero vender!</a></p>                 
            </div>
          </div>
        </div>
        <div class="item">       
          <img class="second-slide" src="/static/site/img/bordado.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Manos artesanas</h1>
              <p> Un lugar donde encontrarás produtos hechos a mano</p>
              <p><a class="btn btn-lg btn-default" href="{% url 'shop:product_list' %}" role="button">Leer más</a></p>
            </div>
          </div>
        </div>
        <div class="item">


          <img class="third-slide" src="{% static "/static/site/img/barro.jpg" %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another writen here</h1>
              <p>mexicans hope this website</p>
              <p><a class="btn btn-lg btn-default" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->

<a name="about"></a>

<hr class="featurette-divider">

<a href="{% url 'search' %}">search page</a>

  <form type="get" action=".">
      <input type="text" name="q">
      <button type="submit">Search</button>
  </form>

  {% for note in notes %}
    <h1>{{ note.title }}</h1>
    <p>
        {{ note.body }}
    </p>
  {% endfor %}
  <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-thumbnail"  src="{% static "/static/site/img/pcb01.jpg" %}"  alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-thumbnail"  src="{% static "/static/site/img/pcb.aretes.jpg" %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-thumbnail"src="{% static "/static/site/img/pcb02.jpg" %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Ejemplo_tienda1</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    </div>
    <div class="col-lg-8">

    <iframe src="https://vine.co/v/Mzjg3LXAmIn/embed/simple" width="600" height="600" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
    </div>
    </div>

             <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->   
<hr class="featurette-divider">
    <section class="no-padding" id="portafolio">
       <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="{% static "/static/site/img/kaay.jpg" %}" alt="Generic image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="{% static "/static/site/img/kaay.jpg" %}"  alt="Generic image" width="140" height="140">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="{% static "/static/site/img/kaay.jpg" %}"  alt="Generic image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>    
    </section>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<!-- add scripts for animate scrolling -->
<script src="{% static 'site/js/scrolling-nav.js' %}"></script>
<script src="{% static 'site/js/jquery.easing.min.js' %}"></script>

{% endblock scripts %}

