{% extends "base.html" %}
 {% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Mercado artesanal{% endblock %}
{% block navbar-brand %}
  <a class="navbar-brand page-scroll" href="#cover">
    <img src="{% static 'site/img/logo.png' %}" alt="logo">{% include "_brandname.html" %}
  </a>
{% endblock %}

{% block navbar-left %}
  <li><a class="page-scroll" href="#presentation">Qué es?</a></li>
  <li><a class="page-scroll" href="#portafolio">Galería</a></li>
  {% include "_navbar.html" with active_link="home" %}
  <li><h4>Sitio en construcción</h4></li>
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Ingresar</a>
  <a class="btn btn-default" href="{% url 'accounts:signup' %}" role="button">Regístrate</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
<section id="cover">
  <div id="myCarousel" class="carousel fade-carousel slide"  data-ride="carousel" data-interval="5000" data-pause="click">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item slides active">
            <div class="slide-1"></div>
              <video loop="loop" preload="auto" id="sensi-video"autoplay class="video-playing" poster="#poster" style="min-height: 100%;" >
                  <!-- <source src="{{ MEDIA_URL }}telar12.mp4" type="video/mp4" >
                  <source src="{{ MEDIA_URL }}telar4.webm" type="video/ogv"> -->
              </video>
              <div class="container-fluid">
                <div class="carousel-caption carousel-description">
                  <h1 style="font-family:Lobster;"><font color="white">{% include "_brandname.html" %}</font></h1>
                  <p> Encuentra algo único y especial</p>      
                </div>
              </div>
              <div class="carousel-caption">
                <a href="{% url 'accounts:signup' %}">
                  <p><button class="btn btn-lg btn-default"> Regístrate!</button></p>
                </a>
              </div>
          </div>
          <div class="item slides">
            <div class="slide-2"></div>
             <!--  <img class="second-slide " src="/static/site/img/bordado.jpg" alt="Second slide"> -->
              <div class="container">
                <div class="carousel-caption carousel-description">
                  <h1>Manos artesanas</h1>
                  <p> Un lugar donde encontrarás produtos elaborados artesanalmente</p>  
                </div>
              </div>
              <div class="carousel-caption">
                <a href="{% url 'shop:product_list' %}" role="button">
                <p><button class="btn btn-lg btn-default"> Galería!</button></p></a>
              </div>
          </div>
          <div class="item slides">
            <div class="slide-3"></div>
             <!--  <img class="third-slide line-cover" src="{% static "/static/site/img/barro.jpg" %}" alt="Third slide"> -->
              <div class="container">
                <div class="carousel-caption carousel-description">
                  <h1>Another written here</h1>
                  <p>The world hope this website</p>   
                </div>
              <div class="carousel-caption">
                <a href="/" role="button">
                  <p><button class="btn btn-lg btn-default"> Another action!</button></p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> 
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
          <span class="sr-only">Next</span>
        </a>
  </div>
</section>
{% endblock splash %}

{% block container %}
<hr class="custom">


<form action="/i18n/setlang/" method="post">
    {% csrf_token %}
  <input name="next" type="hidden" value="{{request.path}}" />
      <select name="language">
          {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}">{{ lang.1 }}</option>
          {% endfor %}
      </select>
  <input type="submit" value="Go" />
</form>
<div id="search" class="container-fluid">
  {% if not hide_search %}
  <div class="col-lg-6 col-lg-offset-3 ">
    <form class="" role="search" action="{% url 'search' %}">
      <div class="input-group">
      {% trans 'Encuentra algo único y especial para tí' as search %}
        <input type="text" class="form-control" name="q" placeholder="{{ search }}" >
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </form>
  </div>
  {% endif %}
</div>

<section id="presentation">
  <div class="background-white">
    <div class="container">
      <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center article-title" style="font-size:300%;">{% trans 'Welcome' %}</h2>
        <p class="text-center">{% trans 'Käay es un lugar donde encontrarás una comunidad de artesanos que nos muestran su creatividad y comparten contigo un trozo de su trabajo... un trozo de su vida '%}</p>
        <img class="img-responsive"  alt="" src="{% static "/static/site/img/letter_k.gif" %}" style="display: block; margin-left: auto; margin-right: auto;">
      </div>            
    </div>
  </div>
</section>

<div class="container-fluid"> <!-- principal -->

<hr class="custom">

<div class=" no-padding prlx prlx2">
      <div class="img img2" ></div>
</div>












<hr class="custom">
<section id="aditional" class="no-padding parallax-bg2">
 <div id="icons" style="background-position: 50% 0%;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row ">
                    <!-- Icons -->
                    <div class="col-md-4 text-center animate fadeInLeft">
                        <img src="{% static 'site/img/foco_enciende.gif' %}" alt="logo">
                        <h2 class="padding-top-10">Innovación</h2>
                        <p> {% trans 'Nuevas  propuestas de diseño y creación de obras de arte'%}</p>
                    </div>
                    <div class="col-md-4 text-center animate fadeIn">
                        <img src="{% static 'site/img/draft.gif' %}" alt="logo">
                        <h2 class="padding-top-10">Creatividad</h2>
                        <p>{% trans  'Para la generación de ideas y conceptos '%}</p>
                    </div>
                    <div class="col-md-4 text-center animate fadeInRight">
                       <img src="{% static 'site/img/lapiz_color.gif' %}" alt="logo">
                        <h2 class="padding-top-10">Inspiración</h2>
                        <p>{% trans 'Estímulos repentino que permiten concebir una idea' %}</p>
                    </div>
                    <!-- End Icons -->
                </div>
            </div>
        </div>
</section>





<hr class="custom">
<div class="no-padding prlx prlx3">
      <div class="img img3" ></div>
  </div>

</div><!-- /.end  principal div_container-fluid -->


<hr class="custom">
<div id="band"class="justified-gallery inverse-frame" style="background-color: black">  
    <a class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/soldar.jpg" %}"></a>
    <a class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/platos.jpg" %}"></a>
    <a class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/b.jpg" %}"></a>
     <a class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/a.jpg" %}"></a>
</div>

<hr class="custom">


  
<hr class="custom">
    
















{% endblock container %}

{% block scripts %}


<script src="{% static 'site/js/site.js' %}"></script>
<!-- add scripts for animate scrolling -->
<script src="{% static 'site/js/scrolling-nav.js' %}"></script>
<script src="{% static 'site/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'site/js/parallax-background.js' %}"></script>

<script src = "{%static 'site/js/jquery.justifiedGallery.js' %}"></script>
<script>
    $("#simple").justifiedGallery({
    rowHeight : 250,
    lastRow : 'justify',
    margins : 5
    });
     $("#band").justifiedGallery({
    rowHeight : 230,
    lastRow : 'justify',
    margins : 20,
    });
</script>
<script>
      $('.prlx').parallaxBackground({
        'image': '.img'
      });
    </script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock scripts %}

