{% extends "base.html" %}
 
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Mercado artesanal{% endblock %}
{% block navbar-brand %}
  <a class="navbar-brand page-scroll" href="#presentation">
    <img src="{% static 'site/img/logo.png' %}" alt="logo">{% include "_brandname.html" %}
  </a>
{% endblock %}

{% block navbar-left %}
  <li><a class="page-scroll" href="#presentation">Qué es?</a></li>
  <li><a class="page-scroll" href="#portafolio">Galería</a></li>
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Ingresar</a>
  <a class="btn btn-default" href="{% url 'accounts:signup' %}" role="button">Regístrate</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
<section id="carousel">
  <div id="myCarousel" class="carousel fade-carousel slide"  data-ride="carousel" data-interval="5000" data-pause="click">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item slides active">
            <div class="slide-1"></div>
              <video loop="loop" preload="auto" id="sensi-video"autoplay class="video-playing" poster="/static/site/img/mexican_colors.jpg" style="min-height: 100%;" src="{{ MEDIA_URL }}telar12.mp4" type="video/mp4">
                  <source src="{{ MEDIA_URL }}telar12.mp4" type="video/mp4" >
                  <source src="{{ MEDIA_URL }}telar4.webm" type="video/ogv">
              </video>
              <div class="container-fluid">
                <div class="carousel-caption carousel-description">
                  <h1 style="font-family:Lobster;"><font color="white">{% include "_brandname.html" %}</font></h1>
                  <p> Encuentra algo único y especial</p>      
                </div>
              </div>
              <div class="carousel-caption">
                <a href="{% url 'accounts:signup' %}">
                  <p><button class="btn btn-lg btn-default"> Regístrate!</button></p>
                </a>
              </div>
          </div>
          <div class="item slides">
            <div class="slide-2"></div>
              <img class="second-slide" src="/static/site/img/bordado.jpg" alt="Second slide">
              <div class="container">
                <div class="carousel-caption carousel-description">
                  <h1>Manos artesanas</h1>
                  <p> Un lugar donde encontrarás produtos elaborados artesanalmente</p>  
                </div>
              </div>
              <div class="carousel-caption">
                <a href="{% url 'shop:product_list' %}" role="button">
                <p><button class="btn btn-lg btn-default"> Galería!</button></p></a>
              </div>
          </div>
          <div class="item slides">
            <div class="slide-3"></div>
              <img class="third-slide" src="{% static "/static/site/img/barro.jpg" %}" alt="Third slide">
              <div class="container">
                <div class="carousel-caption carousel-description">
                  <h1>Another written here</h1>
                  <p>The world hope this website</p>   
                </div>
              <div class="carousel-caption">
                <a href="/" role="button">
                  <p><button class="btn btn-lg btn-default"> Another action!</button></p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> 
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
          <span class="sr-only">Next</span>
        </a>
  </div>
</section>

{% endblock splash %}
{% block container %}

 <!-- principal body container -->
<hr class="custom">

<div class="container-fluid">
  {% if not hide_search %}
  <div class="col-lg-6 col-lg-offset-3 ">
    <form class="" role="search" action="{% url 'search' %}">
      <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Encuentra algo único y especial para tí">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </form>
  </div>
  {% endif %}
</div>

<section id="presentation">
  <div class="background-white">
    <div class="container">
      <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center article-title" style="font-size:300%;">Bienvenido</h2>
        <p class="text-center">Käay es un lugar donde encontrarás una comunidad de artesanos que nos muestran su creatividad y comparten contigo un trozo de su trabajo... un trozo de su vida </p>
        <img class="img-responsive"  alt="" src="{% static "/static/site/img/creative.png" %}" style="display: block; margin-left: auto; margin-right: auto; margin-top: 40px;">
      </div>            
    </div>
  </div>
</section>
<hr class="custom">
<div id="simple"class="justified-gallery" style="background-color: black" >  
    <a href="{{ product.get_absolute_url }}"class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/soldar.jpg" %}"  >
      <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
        {{ product.name }}
        </div>
        <div class="project-name">
        <h3>by:{{ show_user.get_full_name }} {{product.id}}</h3>
        </div>
      </div>
    </div>    
    </a>
    <a href="{{ product.get_absolute_url }}"class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/platos.jpg" %}"  >
    media\products\2016\07\25
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
        {{ product.name }}
        </div>
        <div class="project-name">
        <h3>by:{{ show_user.get_full_name }} {{product.id}}</h3>
        </div>
      </div>
    </div>    
    </a>

    <a href="{{ product.get_absolute_url }}"class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/b.jpg" %}"  >
    media\products\2016\07\25
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
        {{ product.name }}
        </div>
        <div class="project-name">
        <h3>by:{{ show_user.get_full_name }} {{product.id}}</h3>
        </div>
      </div>
    </div>    
    </a>
     <a href="{{ product.get_absolute_url }}"class="portfolio-box image-frame ">
    <img  src="{% static "/static/site/img/a.jpg" %}"  >
    media\products\2016\07\25
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
        {{ product.name }}
        </div>
        <div class="project-name">
        <h3>by:{{ show_user.get_full_name }} {{product.id}}</h3>
        </div>
      </div>
    </div>    
    </a>
</div>
<div class="container-fluid"> <!--principal container-fluid -->

<hr class="custom">
<section class="no-padding parallax-bg1 background-primary" style="background-position: 50% 0%;" data-stellar-background-ratio="0.5">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-3 col-xs-6">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-md-3 col-xs-6 col-md-offset-3 ">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>     
      <div class="col-md-3 col-xs-6 col-md-offset-3 ">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-md-3 col-xs-6 col-md-offset-3 ">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
    </div>
  </div>

  <div class=" container-fluid">
    <div class="row no-gutter">
      <div class="col-md-3 col-xs-6  ">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-md-3 col-xs-6 col-md-offset-3 ">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>     
      <div class="col-md-3 col-xs-6 col-md-offset-3 ">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-md-3 col-xs-6 col-md-offset-3 ">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
    </div>
  </div>  <!-- container-fluid -->   
</section>

<hr class="custom">


<section id="aditional" class="no-padding parallax-bg2">
 <div id="icons" style="background-position: 50% 0%;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row margin-vert-40">
                    <!-- Icons -->
                    <div class="col-md-4 text-center animate fadeInLeft">
                        <i class="fa-crosshairs fa-3x color-primary-lighter"></i>
                        <h2 class="padding-top-10">Innovación</h2>
                        <p> a short description </p>
                    </div>
                    <div class="col-md-4 text-center animate fadeIn">
                        <i class="fa-puzzle-piece fa-3x color-primary-lighter"></i>
                        <h2 class="padding-top-10">Creatividad</h2>
                        <p> a short description</p>
                    </div>
                    <div class="col-md-4 text-center animate fadeInRight">
                        <i class="fa-music fa-3x color-primary-lighter"></i>
                        <h2 class="padding-top-10">Inspiración</h2>
                        <p>a short description</p>
                    </div>
                    <!-- End Icons -->
                </div>
            </div>
        </div>
</section>

<hr class="custom">

<section class="no-padding" id="portafolio">
   <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="/" class="portfolio-box">
          <img  src="{% static "/static/site/img/pcb02.jpg" %}" class="img-responsive" alt="Generic image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              Category
              </div>
              <div class="project-name">
              Project Name
              </div>
            </div>
          </div>               
        </a>
      </div>
    </div><!-- /.row -->
   </div>    
</section>

  
<hr class="custom">
    


</div><!-- /.end  principal div_container-fluid -->














{% endblock container %}

{% block scripts %}


<script src="{% static 'site/js/site.js' %}"></script>
<!-- add scripts for animate scrolling -->
<script src="{% static 'site/js/scrolling-nav.js' %}"></script>
<script src="{% static 'site/js/jquery.easing.min.js' %}"></script>

<script src = "{%static 'site/js/jquery.justifiedGallery.js' %}"></script>
<script>
    $("#simple").justifiedGallery({
    rowHeight : 250,
    lastRow : 'justify',
    margins : 5
    });
</script>

{% endblock scripts %}

