{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Log In{% endblock %}

{% block form_heading %}Ingresa{% endblock %}


{% block form %}

	
  <div class="form-message">
  {% crispy form %}
    <p>
      ¿No tienes una cuenta? <a href="{% url 'accounts:signup' %}">Regístrate</a>.
    </p>
  	<div class="col-md-3 col-md-offset-4">
	    <ul class="social-network social-circle">  
	        <li><a href="{% url 'social:begin' 'facebook' %}" class="icoFacebook ico-background" title="Facebook"><i class="fa fa-facebook"></i></a></li>
	        <li><a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="icoTwitter ico-background" title="Twitter"><i class="fa fa-twitter"></i></a></li>
	        <li><a href="{% url 'social:begin' 'google-oauth2' %}" class="icoGoogle ico-background" title="Google +"><i class="fa fa-google-plus"></i></a></li> 

	    </ul>             
    </div>
 	<div class="col-md-4">
    
  </div>
  </div>
{% endblock form %}


