{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
 


{% block title %}{{ block.super }}{% endblock %}



<!-- code for the shop -->
<link href="{% static 'site/css/main.css' %}" rel="stylesheet">
				
{% block container %}				
<div id="header">
	<a href="/productos" class="logo">Catálogo</a>
</div>
<div id="subheader">
	<div class="cart">
		{% with total_items=cart|length %}
			{% if cart|length > 0 %}
			<span class="glyphicon glyphicon-shopping-cart"></span>
				Tus elecciones:
				<a href="{% url "cart:cart_detail" %}">
					{{ total_items }} artículo{{ total_items|pluralize }},
					${{ cart.get_total_price }}
				</a>
			{% else %}
			No hay selección de productos
			{% endif %}
		{% endwith %}
	</div>
</div>
		<div>
			{% block content %}
			{% endblock %}
		</div>


{% endblock %}
{% block scripts %}
{% endblock scripts %}